*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --brand1 : #212529;
    --brand2 : #ff4b3e;
    --brand3 : #972d07;
}

.menu,
.a-list,
button{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    background: #212529;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0 20px;
}

.a-list {
    transition: all 300ms ease;
}

.a-list:hover{
    color: #972d07;
}

button{
    padding: 3px 12px;
    background: #ff4b3e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform: all 300ms ease;
    margin-left: auto;
}

button:hover{
    background-color: #972d07;
}


#svuotaCarrello{
    font-size: 10px;
}

#svuotaCarrello:hover{
    font-size: 12px;
    transition: all 1s;
}

#carrelloButton{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.active{
    font-weight: 500;
    font-size: larger;
}