      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <header>
         <img src="assets/logo.png" width="10%">
         <nav>
             <ul class="menu">
                 <li><a routerLink="home">Home</a></li>
                 <li><a routerLink="product-list">Prodotti</a></li>
                 <li><a routerLink="">Progetto</a></li>
                 <li><a routerLink="">Chi sono</a></li>
                 <li><a routerLink="lista-utenti">Lista clienti</a></li>
             </ul>
         </nav>
         <button routerLink="carrello"><i class="fa-solid fa-cart-shopping"></i> {{carrello.length}} Prodotti inseriti</button>
         <button  (click)="svuotaCarrello()">Svuota carrello</button>
      </header>
