
<table class="table ">
    <thead>
      <tr>
        <th scope="col">Codice Prodotto</th>
        <th scope="col">Prodotto</th>
        <th scope="col">Categoria</th>
        <th scope="col">Prezzo</th>
        <th scope="col">Rimuovi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of carrello; let i = index">
        <th scope="row">{{e.id}}</th>
        <td>{{e.nomeProdotto}}</td>
        <td>{{e.categoria}}</td>
        <td>{{e.prezzo}}€</td>
        <td ><img src="https://cdn-icons-png.flaticon.com/512/812/812853.png" width="17px" (click)="rimuoviDaCarrello(i)"></td>
      </tr>
    </tbody>
  </table>
  <h3>Totale carrello: {{totaleCarrello}}€ </h3>
  