
<table class="table table-dark table-striped">
    <thead>
      <tr> 
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Genere</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of listaUtenti">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.email}}</td>
        <td>{{e.gender}}</td>
        <td><span [ngClass]="e.status==='active' ? 'dotgreen' : 'dotred' "></span></td>
      </tr>
    </tbody>
  </table>